<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shollmann.android.fogon"
    android:installLocation="auto"
    android:versionCode="10300"
    android:versionName="1.03.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DeFogonApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:noHistory="true"
            android:theme="@style/noAnimTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:uiOptions="none"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.FavoriteSongsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:uiOptions="none"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.RandomSongsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:uiOptions="none"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>
